---
import App from "../components/App.vue";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A tool for getting the hex and decimal codes from a string" />
    <title>charcode.info</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TE3BV39263"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TE3BV39263');
    </script>
  </head>
  <body>
    <App client:load />
    <noscript>You need to enable JavaScript to run this app.</noscript>
  </body>
</html>
